<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="./grid.js"></script>
    <link rel="stylesheet" type="text/css" href="grid.css">
</head>
<body>
    <center>
        <table>
            <tr>
                <td colspan="2">
                    <input type="button" value="추가" id="add_btn" onclick="add()">
                    <input type="button" value="조회" id="add_btn" onclick="view()">
                    <input type="button" value="전송" id="add_btn" onclick="send()">
                </td>
            </tr>
            <tr>
                <td>
                    <div id="grid_dish">
                        <center>
                            <table id="grid_main">
                                <tr>
                                    <td width="50px" id="title"><center>No.</center></td>
                                    <td width="150px" id="title"><center>이름</center></td>
                                    <td id="title"><center>부서</center></td>
                                </tr>
                                <% for(i = 0; i < list.length; i++) { %>
                                <tr>
                                    <td><center><div class='cell'><%= list[i].id %></div></center></td>
                                    <td><center><div class='cell'><%= list[i].name %></div></center></td>
                                    <td><center><div class='cell'><%= list[i].part %></div></center></td>
                                </tr>
                                <% } %>
                            </table>
                        </center>
                    </div>
                </td>
                <td>
                    <table id="input">
                        <tr>
                            <td colspan="2" height="50px"><div id="input_title_top">여기에</div><span id="input_title_bottom">사원정보 입력</span></td>
                        </tr>
                        <tr>
                            <td height="10px"><hr width="30px" color="#00c2ab"></td>
                        </tr>
                        <tr>
                            <td><div id="hint1">이름</div></td>
                            <td><input type="text" class="text_box" id="name" disabled=""></td>
                        </tr>
                        <tr>
                            <td><div id="hint2">부서</div></td>
                            <td><input type="text" class="text_box" id="part" disabled=""></td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="button" value="저장" id="save_btn" onclick="save()" disabled=""></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <center>
                        <input type="text" id="output_area" disabled>
                    </center>
                </td>
            </tr>
        </table>
    </center>
</body>
</html>